*:not(*>) {
  display: flex;
  flex-direction: column;
}

#header {
  /*width: 100%;*/
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background, white);

  min-height: 3rem;

  >:first-child {
    padding-left: 1rem;
    padding-top: 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  >:nth-child(2) {
    text-align: center;
    font-weight: bold;
    align-content: center;
    white-space: nowrap;
    font-size: x-large;
  }

  >:last-child {
    border-radius: 0 1.5rem 0 0;
    display: flex;
    justify-content: end;
    align-content: end;
    text-align: center;
    align-items: center;
    padding-right: 0.5rem;
    white-space: nowrap;
  }

  :last-child[hidden] {
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
  }
}

#sub.sized>table {
  width: 100%;
  /*font-size: var(--text-xl);*/
}

badge-info {
  display: table-row;
  background-color: var(--background, white);
  width: 100%;

  tr {
    width: 100%;
    display: block;
  }

  white-space: nowrap;

  >:first-child {
    width: 50%;
  }

  >:last-child {
    width: 40%;
  }
}



.rainbow {
  background: linear-gradient(to right,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  background-clip: text;
  color: transparent;
  animation: loop_bow 4s linear infinite;
  background-size: 1000% 100%;
  /*-webkit-text-stroke: 0.5px #000;*/
}

@keyframes loop_bow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}




/* This would just be a pain to define for everything in class format, so we do it here. */
.fake-button,
#badge_search,
button {
  padding: 0.5rem 1rem;
  margin: 4px;
  background-color: var(--color-gray-750);
  color: white;
  text-decoration: none;
  border-radius: var(--radius-md);
  transition: background-color 0.2s;
  border: 0px;
  font-size: 16px;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;
}

.fake-button:hover:not(:disabled),
button:hover:not(:disabled) {
  background-color: var(--color-gray-red-700);
}

.fake-button:disabled,
#badge_search:disabled,
button:disabled {
  background-color: var(--color-gray-760);
  color: var(--color-neutral-300);
}
