/*
 * Difficulty colours for quick access
 *
 * Difficulty colour source: https://jtoh.fandom.com/wiki/Difficulty
*/

:root {
  --difficulty-easy: #75F347;
  --difficulty-easy-text: black;
  --difficulty-medium: #FFFE00;
  --difficulty-medium-text: black;
  --difficulty-hard: #FD7C00;
  --difficulty-hard-text: black;
  --difficulty-difficult: #FF3232;
  --difficulty-difficult-text: black;
  --difficulty-challenging: #A00000;
  --difficulty-challenging-text: white;
  --difficulty-intense: #19232D;
  --difficulty-intense-text: white;
  --difficulty-remorseless: #C800C8;
  --difficulty-remorseless-text: white;
  --difficulty-insane: #0000FF;
  --difficulty-insane-text: white;
  --difficulty-extreme: #0389FF;
  --difficulty-extreme-text: white;
  --difficulty-terrifying: #00FFFF;
  --difficulty-terrifying-text: black;
  --difficulty-catastrophic: #FFFFFF;
  --difficulty-catastrophic-text: black;
}

.difficulty {
  .easy {
    background: var(--difficulty-easy);
    color: var(--difficulty-easy-text);
  }

  .medium {
    background: var(--difficulty-medium);
    color: var(--difficulty-medium-text);
  }

  .hard {
    background: var(--difficulty-hard);
    color: var(--difficulty-hard-text);
  }

  .difficult {
    background: var(--difficulty-difficult);
    color: var(--difficulty-difficult-text);
  }

  .challenging {
    background: var(--difficulty-challenging);
    color: var(--difficulty-challenging-text);
  }

  .intense {
    background: var(--difficulty-intense);
    color: var(--difficulty-intense-text);
  }

  .remorseless {
    background: var(--difficulty-remorseless);
    color: var(--difficulty-remorseless-text);
  }

  .insane {
    background: var(--difficulty-insane);
    color: var(--difficulty-insane-text);
  }

  .extreme {
    background: var(--difficulty-extreme);
    color: var(--difficulty-extreme-text);
  }

  .terrifying {
    background: var(--difficulty-terrifying);
    color: var(--difficulty-terrifying-text);
  }

  .catastrophic {
    background: var(--difficulty-catastrophic);
    color: var(--difficulty-catastrophic-text);
  }
}
