/*
 * Difficulty colours for quick access
 *
 * Difficulty colour source: https://jtoh.fandom.com/wiki/Difficulty
*/
.difficulty.easy {
  background: #75F347;
  color: black;
}

.difficulty.medium {
  background: #FFFE00;
  color: black;
}

.difficulty.hard {
  background: #FD7C00;
  color: black;
}

.difficulty.difficult {
  background: #FF3232;
  color: black;
}

.difficulty.challenging {
  background: #A00000;
  color: white;
}

.difficulty.intense {
  background: #19232D;
  color: white;
}

.difficulty.remorseless {
  background: #C800C8;
  color: white;
}

.difficulty.insane {
  background: #0000FF;
  color: white;
}

.difficulty.extreme {
  background: #0389FF;
  color: white;
}

.difficulty.terrifying {
  background: #00FFFF;
  color: black;
}

.difficulty.catastrophic {
  background: #FFFFFF;
  color: black;
}
