/*
 * Styles to do with displaying the data.
*/

:root {
  --completed: #89cf93;
  --new: #86ff64;
  --background: #aaa;
}

.area {
  float: left;
  margin: 5px 20px 20px 0px;
  align-items: center;
}

.area [tag="title"],
.area [tag="badges"] {
  /* border-radius: 10px; */
  background: #f0f0f0;
}

.area [tag="title"] {
  background: linear-gradient(to right, var(--completed) calc(var(--count) / var(--total) * 100%), #f0f0f0 calc(var(--count) / var(--total) * 100%));
}

.area [tag="title"]::after {
  counter-reset: count var(--count) total var(--total) hc calc(var(--total) - var(--hidden));
  content: " (" counter(count) "/" counter(hc) ")";
}

.area [tag="badges"] {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.area [tag="title"] {
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.25rem;
}

.area .completed {
  background-color: var(--completed);
  /* color: #155724; */
  color: #1a2f4b;
}

.area .completed.new {
  background-color: var(--new);
}

.area :not(.completed)+:not(.completed)>td[tag='name'] {
  border-top: 1px solid black;
}

.area table {
  width: 100%;
}

.area .total_completed {
  font-weight: bold;
}

.parent-background {
  background-color: #5c656d;
  float: left;
  margin: 5px;
}
