/*
 * Styles to do with displaying the data.
*/

:root {
  --completed: #89cf93;
}

.area {
  float: left;
  margin: 10px;
  align-items: center;
}

.area [tag="title"],
.area [tag="badges"] {
  /* border-radius: 10px; */
  background: #f0f0f0;
}

.area [tag="badges"] {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.area [tag="title"] {
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.area .completed {
  background-color: var(--completed);
  /* color: #155724; */
  color: #1a2f4b;
}

.area table {
  width: 100%;
}

.area .total_completed {
  font-weight: bold;
}

.parent-background {
  background-color: #5c656d;
  float: left;
  margin: 5px;
}
