/*
 * Styles to do with displaying the data.
*/

.area {
  background: #f0f0f0;
  border-radius: 10px;
  float: left;
}

.area [tag="title"] {
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;
}

.area .completed {
  background-color: #89cf93;
  /* color: #155724; */
  color: #1a2f4b;
}

.area table {
  width: 100%;
}
