@import 'tailwindcss';

@theme {
  --color-gray-550: #6c757d;
  --color-gray-750: #495057;
  --color-gray-760: #384046;
  --color-gray-red-700: #703030;
  --color-zinc-gray: #223;

  --color-etoh-purple: #302030;
  --color-etoh-pink: #604060;

  --
  /* 1.5 each size for a total of 3 */
  --size-full-1\.5: calc(100% - (var(--spacing) * 3));
  --width-full-1\.5: calc(100% - (var(--spacing) * 3));
  --height-full-1\.5: calc(100% - (var(--spacing) * 3));

  /* 2 each size for a total of 4 */
  --size-full-2: calc(100% - (var(--spacing) * 4));
  --width-full-2: calc(100% - (var(--spacing) * 4));
  --height-full-2: calc(100% - (var(--spacing) * 4));

  /* 2 at top plus a bunch of custom at bottom for a total of 14 */
  --size-full-2: calc(100% - (var(--spacing) * 14));
  --width-full-2: calc(100% - (var(--spacing) * 14));
  --height-full-2: calc(100% - (var(--spacing) * 14));

}

@layer base {

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}

/* This would just be a pain to define for everything in class format, so we do it here. */
.fake-button,
#badge_search,
button {
  padding: 0.5rem 1rem;
  margin: 4px;
  background-color: var(--color-gray-750);
  color: white;
  text-decoration: none;
  border-radius: var(--radius-md);
  transition: background-color 0.2s;
  border: 0px;
  font-size: 16px;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;
}

.fake-button:hover:not(:disabled),
button:hover:not(:disabled) {
  background-color: var(--color-gray-red-700);
}

.fake-button:disabled,
#badge_search:disabled,
button:disabled {
  background-color: var(--color-gray-760);
  color: var(--color-neutral-300);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.errored {
  color: red;
}


.area {
  float: left;
  margin: 2.5px 5px 5px 0px;
  background: var(--color-gray-800);
  padding: 0.5rem;
  border-radius: 0.25rem;
}


category-info {
  display: flex;
  flex-direction: column;
  /*ali*/
}

:root {
  --background: #aaa;
}
