* {
  background: var(--background, #fff);
  width: 100%;
}

*:not(**) {
  margin: 2.5px 10px;
}

span:not(*>span) {
  display: block;
  text-align: center;
  font-weight: bold;
}

span:not(*>span):not(*:last-child) {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

table * {
  background: initial;
}

tr {
  width: 100%;
  display: table;
  border-top: 1px solid black;
}

table>tr {
  height: 1px;
  display: block;
  border: none;
}

td {
  width: 50%;
  text-wrap: nowrap;
}

tr td:first-child {
  vertical-align: middle;
}

table,
table tr:last-child td:first-child,
table tr:last-child td:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

table badge-info {
  display: table-row;
}


.highlight {
  background-color: skyblue;
}

.highlight.selected {
  background-color: aqua;
}

.locked_another {
  background-color: #777;
}

.locked_temporary {
  background-color: #555;
}
